<div class="row d-flex justify-content-center">
  <div class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-5">
    <h3 class="moneyticker" [ngClass]="CurrencyAnimation ? 'anim' : ''">{{ MonetaryAmount }}</h3>
    <h5 class="coinbalance">Starting Balance: {{ StartingMonetaryAmount }} </h5>
    <h5 class="coinbalance">Market: <span [ngClass]="CurrencyAnimationUp == true ? 'anim-up' : ''" [hidden]="CurrencyAnimationUp == false">UP</span><span [ngClass]="CurrencyAnimationDown == true ? 'anim-down' : ''" [hidden]="CurrencyAnimationDown == false">DOWN</span></h5>
    <h5 class="coinbalance">{{BitcoinFinalBalance}} sats ({{CurrencySymbol}}{{BitcoinPrice}})</h5>
    <h5 class="coinbalance2">{{EtherFinalBalance}} wei ({{CurrencySymbol}}{{EtherPrice}})</h5>
    <div style="clear: both;">
      <div *ngFor="let wallet of Wallets; let index = index">
        <mat-form-field>
          <mat-label>Wallet Address</mat-label>
          <input matInput id="wallet-{{index}}" [(ngModel)]="wallet.address">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wallet Type</mat-label>
          <mat-select [(ngModel)]="wallet.type" placeholder="Select Coin">
            <mat-option value="Bitcoin">Bitcoin</mat-option>
            <mat-option value="Ethereum">Ethereum</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="Currency" name="currency" (selectionChange)="selectedCurrency($event)">
          <mat-option value="USD">USD</mat-option>
          <mat-option value="AUD">AUD</mat-option>
          <mat-option value="CAD">CAD</mat-option>
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="GBP">GBP</mat-option>
          <mat-option value="JPY">JPY</mat-option>
          <mat-option value="RUB">RUB</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div mat-dialog-actions style="margin-top: 15px; margin-bottom: 15px; text-align: center;">
      <div class="button-row">
        <button mat-raised-button color="accent" (click)="AddWallet()" cdkFocusInitial type="button">Add Wallet</button> <button mat-raised-button color="primary" (click)="GetAddressInfo()" cdkFocusInitial type="button">Get Wallet Info</button>
      </div>
    </div>
    
  </div>
</div>
